#nameBig {
    font-size: 50px;
    text-align: center;
}
#blue{
    color: blue;
}
#quote{
    text-align: center;
    font-style: italic;
}
table {
    border: black;
    border: solid;
    border-width: 2px;

}
#relax{
    text-align: center;
}
tr,td{
    border: black;
    border: solid;
    border-width: 2px;
}
#nameLinks{
    text-align: center;
    padding-top:30px ;
}
#muggy{
    width: 250px;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border:solid;
    border-width:2px;
}


#boxLan{
    position: relative;
    float: right;
    width: 40%;
    margin-right:auto;
    margin-left: 10%;

}
#boxLeft{
    width: 50%;
    position: relative;

}
body{
    background-image:url("cool-background.png");
    background-repeat: repeat-y;
    color: wheat;
}
h1,h2,h3,h4,h5{
    font-family: "Arial Black";
}
p{
    font-family: "Roboto Light";
}
a{
    color: aquamarine;
}