#nameBig {
    font-size: 50px;
    text-align: center;
    color: white;
    opacity: 100%;

}
#blue{
    color: blue;
}
#quote{
    text-align: center;
    font-style: italic;
    color:#e8d266;
}
table {
    border: black;
    border: solid;
    border-width: 2px;
    margin-top: 10%;

}
#relax{
    text-align: center;

}
tr,td{
    border: black;
    border: solid;
    border-width: 2px;
}
#nameLinks{
    text-align: center;
    padding-top:30px ;
}
#muggy{
    width: 40%;
    height: 80%;
    border-radius: 10px;
    opacity: 0.7;
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.2);
}
#imgBox{
    width: 30%;
    padding:2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: inset 0 0 2000px rgba(255,255,255,.5);

}
#boxLan{
    position: relative;
    float: right;
    width: 40%;
    margin-right:auto;
    margin-left: 10%;

}
#boxLeft{
    width: 50%;
    position: relative;

}
body{
    background-color: #26356e;
    color: white;
}
h1,h2,h3,h4,h5{
    font-family: Candara;
    opacity: 1;
    z-index: 1;
}
p{
    font-family: "Agency FB";
}
a{
    color: indigo;
}
.banner {
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
    z-index: 0;
}
.container{
    position: relative;
}